<p id="notice"><%= notice %></p>

<h1>Alerts</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Message</th>
      <th>Location</th>
      <th>Serial</th>
      <th>Time Detected</th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.order(created_at: :desc).each do |alert| %>
      <tr>
        <td><%= alert.message %></td>
        <td><%= alert.location %></td>
        <td><%= alert.serial %></td>
        <td><%= alert.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alert', new_alert_path %>
